<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>edenpulse</string>
	<key>Description</key>
	<string>OS X Selection</string>
	<key>Theme</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>Dark</key>
			<true/>
			<key>Path</key>
			<string>background.png</string>
			<key>Sharp</key>
			<string>0xFF</string>
			<key>Type</key>
			<string>Scale</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Scale</key>
			<integer>16</integer>
			<key>Show</key>
			<false/>
			<key>Swap</key>
			<false/>
		</dict>
		<key>Banner</key>
		<string>logo-trans.png</string>
		<key>BootCampStyle</key>
		<false/>
		<key>Components</key>
		<dict>
			<key>Banner</key>
			<false/>
			<key>Functions</key>
			<true/>
			<key>Help</key>
			<false/>
			<key>Label</key>
			<true/>
			<key>MenuTitle</key>
			<true/>
			<key>MenuTitleImage</key>
			<true/>
			<key>Revision</key>
			<true/>
		</dict>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>10</integer>
			<key>Path</key>
			<string>Font_DroidSans_16pt_WhiteFx.png</string>
			<key>Proportional</key>
			<false/>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Layout</key>
		<dict>
			<key>BannerOffset</key>
			<integer>0</integer>
			<key>ButtonOffset</key>
			<string>128</string>
			<key>SelectionBigWidth</key>
			<integer>288</integer>
			<key>TileYSpace</key>
			<string>128</string>
			<key>Vertical</key>
			<false/>
		</dict>
		<key>Origination</key>
		<dict>
			<key>DesignHeight</key>
			<integer>1080</integer>
			<key>DesignWidth</key>
			<integer>1920</integer>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_288.png</string>
			<key>ChangeNonSelectedGrey</key>
			<false/>
			<key>Color</key>
			<string>0xF3F3F380</string>
			<key>OnTop</key>
			<false/>
			<key>Small</key>
			<string>Selection_64.png</string>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Year</key>
	<string>2020</string>
</dict>
</plist>
