<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>blackosx</string>
	<key>Description</key>
	<string>A fun theme for the 2014 WorldCup using 256px icons (v1.0).</string>
	<key>Year</key>
	<string>2014</string>
	<key>Theme</key>
	<dict>
		<key>Origination</key>
		<dict>
			<key>DesignWidth</key>
			<integer>1920</integer>
			<key>DesignHeight</key>
			<integer>1080</integer>
		</dict>
	    <key>Components</key>
        <dict>
            <key>MenuTitle</key>
            <false/>
            <key>MenuTitleImage</key>
            <false/>
        </dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<true/>
			<key>Scale</key>
            <integer>16</integer>
            <key>OffsetX</key>
            <integer>95</integer>
            <key>OffsetY</key>
            <integer>104</integer>
		</dict>
		<key>Banner</key>
		<string>banner_corner_pixel_white5.png</string>
		<key>Layout</key>
		<dict>
			<key>SelectionBigWidth</key>
			<integer>288</integer>
			<key>TileXSpace</key>
			<integer>0</integer>
			<key>TileYSpace</key>
			<integer>128</integer>
			<key>ButtonOffset</key>
			<integer>24</integer>
			<key>TextOffset</key>
			<integer>-84</integer>
		</dict>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>11</integer>
			<key>Path</key>
			<string>BoW_BrasilWorldCup_13W_v5.png</string>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>SelectionBig9.png</string>
			<key>Color</key>
			<string>0xBCBCBCFF</string>
			<key>OnTop</key>
			<true/>
			<key>Small</key>
			<string>SelectionSmall.png</string>
		</dict>
	</dict>
</dict>
</plist>